/* Styles pour le hero */

.hero {
  text-align: center;
  background-color: #2a4d6e;
  color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5rem; /* Espace sous la navbar */
  height: calc(100vh - 5rem - 2rem); /* Hauteur totale moins la navbar et le footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-title .highlight {
  color: #ff5733;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.explore-button {
  background-color: #ff5733;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #e14a2b;
}